body {
    background-color: aqua;
}

h1 {
    font-style: italic;
    text-align: center;
}

button {
    font-style: oblique;
    border-radius: 7px;
    
}

.boton {
    font-style: oblique;
    border-radius: 7px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}